@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --violaBlue: #656faf;
  --darkGrey: #7b7d87;
  --sandal: #e3af6d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}
#resScreen ,#finalResScreen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsla(232, 32%, 54%, 50%);
  font-size: 32px;
  font-weight: bold;
  transition: 1s;
}
#finalResScreen{
  display: grid;
  place-items: center;
  grid-template-rows: auto auto;
  row-gap: 30px;
  color: var(--violaBlue);
  font-size: 44px;
}
#finalResScreen button{
  border: none;
  background-color: #fff;
  font-size: 24px;
  font-weight: bold;
  color: var(--darkGrey);
}
#finalResScreen button:hover{
  color: var(--violaBlue);
}
body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  user-select: none;
}
.container {
  display: grid;
  grid-template-rows: 400px auto;
  row-gap: 50px;
}
.result-container {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}
.result-container div {
  width: 350px;
  height: 400px;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 30px;
  place-items: center;
  border-radius: 5px;
  box-shadow: 0px 3px 6px hsla(0deg, 0%, 0%, 16%);
}
.title {
  font-size: 32px;
  font-weight: bold;
  color: var(--violaBlue);
}
.imgholder {
  width: 200px;
  height: 200px;
  padding: 50px;
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--violaBlue);
}
.imgholder img {
  height: 100px;
}
.system .title{
  color: var(--sandal);
}
.system .imgholder{
  background-color: var(--sandal);
}
.system .imgholder img {
  transform: scaleX(-1);
}
.system .score{
  color: var(--sandal);
}
.score {
  font-size: 32px;
  font-weight: bold;
  color: var(--violaBlue);
}
.opt-and-other {
  display: grid;
  grid-template-rows: 100px auto;
  row-gap: 30px;
  place-items: center;
}
.options {
  width: 400px;
  height: 100px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  column-gap: 50px;
}
.options .imgholder {
  width: 100px;
  height: 100px;
  padding: 25px;
  display: inline-grid;
  place-items: center;
  background-color: var(--darkGrey);
}
.options .imgholder:hover {
  background-color: var(--violaBlue);
  cursor: pointer;
}
.options .imgholder img {
  height: 50px;
}
.turn-tie {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
}
.turn-tie h2 {
  padding: 5px 10px;
  border: 2px solid hsla(230, 5%, 51%,50%);
  font-size: 24px;
  font-weight: bold;
  color: var(--darkGrey);
  border-radius: 5px;
}
.turn-tie h2 span {
  color: #9d6de3;
}
